.nav-btn {
    padding: 10px;
    margin: 0px 10px;
    font-size: 18px;
    font-weight: bold;
    height: 100%;
}
.btn-purple {
    transition: all .5s;
    border-bottom: 4px solid transparent;
}
.btn-purple:hover {
    transition: all .5s;
    border-bottom: none;
    border-bottom: 4px solid #D452F2;
}
.btn-bg-to-purple {
    transition: background-color .2s;
}
.btn-bg-to-purple:hover {
    background-color: #D452F2;
    color: white;
}
.btn-bg-purple {
    color: white;
    background-color: #D452F2;
    transition: background-color .2s;
}
.btn-bg-purple:hover {
    color: white;
    background-color: purple;
    transition: all .2s;
}
.btn-outline-purple {
    color: #D452F2;
    background-color: white;
    border: 1px solid #D452F2;
    transition: all .2s;
}
.btn-outline-purple:hover {
    color: white;
    background-color: #D452F2;
    border: none;
    transition: all .2s;
}
.nav-link.purple-nav-link.active {
    color: white!important;
    background-color: #D452F2!important;
}
.nav-link.purple-nav-link {
    color: black;
}