{% extends 'base.html' %}
{% block content %}
    <form action="{% url 'authentication:email_reset' %}" method="post">
        {% csrf_token %}
<div class="d-flex">
        <div class="mx-auto my-3 py-2 w-md-75">
            <div class="form-group row">
                    <label for="id_email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                      <input type="email" class="form-control" id="id_email" name="email" placeholder="Email" value="{{user.email}}"/>
                    </div>
            </div>
            <div class="form-group row">
              <label for="passwordDisplay" class="col-sm-2 col-form-label">Пароль</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="passwordDisplay" readonly placeholder="Password" value="*******">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm-10 offset-sm-2">
                  <div class="d-flex">
                        <a href="{% url 'authentication:password_reset' %}" type="submit" class="btn btn-primary">Сброс пароля</a>
                        <input type="submit" class="btn btn-outline-primary ml-2" value="Сменить Email"/>
                  </div>
              </div>
            </div>
        </div>
</div>
    </form>
{% endblock %}