<div class="d-flex flex-wrap mr-2">
{% if product.actual_price != product.base_price %}
    <h6 class="font-weight-normal text-purple text-striked mr-2">{{product.base_price|floatformat:2}} ₽</h6>
{% endif %}
    <h5 class="text-purple font-weight-bold">{{product.actual_price|floatformat:2}} ₽</h5>
 </div>
{% if product.actual_price < product.base_price %}
 <h5 class="text-muted">-{{product.save_money_percent}}</h5>
{% elif product.actual_price > product.base_price %}
 <h5 class="text-danger">дороже {{product.save_money_percent}}</h5>
{% endif %}