<div class="border border-secondary border-bottom-0 border-left-0 border-right-0 d-flex">
    <div class="col-8">
        <a href="{% url 'products:product' product.id %}" class="font-weight-slim text-decoration-none text-dark">
            <p>{{product.title}}</p>
        </a>
        <div class="d-block">{% include 'products/price.html' with product=product %}</div>
    </div>
    {% if product.images.exists %}
    <a href="{% url 'products:product' product.id %}">
        <img src="{{product.images.first.image.url}}" class="thumbnail m-2"/>
    </a>
    {% endif %}
</div>