{% load static %}
<div class="card border-0 product">
  {% if product.images.first %}
    <img class="card-img-top product-img" src="{{product.images.first.image.url}}" alt="Card image cap">
  {% endif %}
  <div class="card-body">
    <a class="card-title text-dark text-decoration-none" href="{% url 'products:product' product.id %}">
      <h4 class="card-title">{{product.title}}</h4>
    </a>
    <div class="d-flex flex-column ml-auto mr-0 justify-content-end">
      {% include 'products/price.html' with product=product %}
    </div>
  </div>
</div>