{% extends "base.html" %}
{% load filters %}
{% load static %}
{% block content %}
<div class="d-lg-inline-flex d-column my-5 py-2" xmlns="http://www.w3.org/1999/html">
    <div class="col flex-shrink-1">
        {% include 'products/details.html' with product=product %}
        <div>
            <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active purple-nav-link" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">Описание</a>
              </li>
              <li class="nav-item">
                <a class="nav-link purple-nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Отзывы</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                  <h3 class="my-4">Описание</h3>
                  <p>{{product.description}}</p>
              </div>
              <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                  <div class="d-column mt-2"> <!-- reviews div -->
                    {% if user.is_authenticated %}
                    {% if your_review == None %}
                    <form action="{% url 'products:add_review' product.id %}" method="post" class="p-2">
                        {% csrf_token %}
                      <div class="rating-bar">
                        {% for i in 1|in_range:5 %}
	                    <input type="radio" id="id_rate_{{i}}" name="rate" value="{{i}}">
	                    <label for="id_rate_{{i}}" title='Оценить на "{{i}}"'></label>
                        {% endfor %}
                      </div>

                        {{review_form.text}}
                        <input type="hidden" name="product_id" value="{{product.id}}"/>
                        {% for field in review_form %}
                          {% if field.errors %}
                           <ul class="list-group">
                            {% for error in field.errors %}
                              <li class="list-group-item list-group-item-action list-group-item-danger my-1">{{ error }}</li>
                            {% endfor %}
                          </ul>
                          {% endif %}
                        {% endfor %}
                        <input type="submit" class="btn btn-outline-purple mt-2" value="Отправить"/>
                    </form>
                    {% else %}
                    <form action="{% url 'products:delete_review' product.id %}" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Удалить свой отзыв" class="btn btn-danger"/>
                    </form>
                    {% endif %}
                    {% else %}
                    <a class="btn btn-outline-purple" href="{% url 'authentication:sign_in' %}">Войти</a>
                    {% endif %}

                      {% for review in product.reviews.all %}
                      {% include 'products/review.html' with review=review %}
                      {% endfor %}
                  </div>
              </div>
            </div>
        </div>
    </div>
    <div class="d-none d-md-block flex-shrink-1 px-3 my-2 mr-0">
        {% if user.is_authenticated %}
        {% include 'cart/minimized.html' %}
        {% endif %}
        {% include 'products/side_lists.html' with side_lists=side_lists %}
        <!--<form action="/search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" name="q" id="id_q">
                <div class="input-group-append">
                    <input type="submit" class="btn btn-bg-purple" value="Найти">
                </div>
            </div>
        </form>
        <div class="mt-5">
            <h4>Корзина</h4>
            {% with
        </div>-->
    </div>
</div>
{% endblock %}