{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row mb-5">
    <h3 class="font-weight-bold pb-2">О магазине</h3>
    <p class="text-wrap ml-2">Сайт-магазин Техники – это виртуальное пространство, где можно приобрести широкий ассортимент современной электроники и бытовой техники. Здесь представлены последние модели смартфонов, ноутбуков, планшетов, камер, телевизоров и других устройств от ведущих производителей. Покупателям доступны удобные фильтры для поиска товаров, подробные описания и отзывы, что помогает сделать правильный выбор. Благодаря онлайн-платформе покупки становятся максимально удобными и доступными, а доставка товаров прямо к двери сэкономит время и усилия. Сайт-магазин техники – это не только место для покупок, но и источник полезной информации о новинках электроники и технологий.</p>
</div>
<div class="row bg-light my-5 p-5">
    <h4 class="font-weight-bold pb-2">Демонстрация нашей продукции</h4>
    <p class="text-wrap ml-4">Продукция технологий – это широкий спектр товаров и услуг, связанных с использованием современных технологий в различных сферах жизни. От электроники и программного обеспечения до инновационных медицинских устройств и экологически чистых энергетических решений, продукция технологий охватывает все аспекты современного общества.</p>
    <p class="text-wrap ml-4">С развитием информационных технологий продукция технологий стала неотъемлемой частью повседневной жизни. Смартфоны, ноутбуки, планшеты, умные часы – все это продукция технологий, которая помогает нам оставаться на связи, эффективно работать и развлекаться.</p>
</div>
{% endblock %}